.container {
  font-size: 1.5rem;
  display: flex;
}

.item1 {
  background-color: rgb(236, 179, 179);
  /* float: left;
  width: 30%; */
}

.item2 {
  background-color: blanchedalmond;
  /* float: right;
  width: 70%; */
}
